[:find
 (pull ?commit [:git.commit/sha
                {:git.commit/repo [:git.repo/source-id
                                   :git.repo/name
                                   :git.provider/url
                                   {:git.repo/org [:github.org/installation-token
                                                   :git.org/name
                                                   :git.provider/url]}]}])
 (pull ?image [:docker.image/digest
               {:docker.image/repository
                [:docker.repository/host
                 :docker.repository/repository]}])
 :in $ $before-db % ?ctx
 :where
 (check-run-tx ?ctx [] ?commit ?check-run)

 ;; make sure we only get triggered by our own configured checks (if set)
 (get-skill-config-value ?ctx "check-names" [] ?check-run-names)
 [?check-run :github.checkrun/name ?check-run-name]
 (array-contains? ?check-run-names ?check-run-name)
 (check-runs-passed? ?check-run-names ?commit)

 ;; repo language must match (if set)
 (get-skill-config-value ?ctx "repo-languages" [] ?languages)
 [?commit :git.commit/repo ?repo]
 (repo-language-match? ?languages ?repo)

 [?commit :git.commit/sha ?sha]
 [?image :docker.image/sha ?sha]]
