;; Copyright © 2021 Atomist, Inc.
;;
;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at
;;
;;     http://www.apache.org/licenses/LICENSE-2.0
;;
;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.

{:namespace "atomist"
 :homepageUrl "https://github.com/atomist-skills/k8-deploy-promotion-policy"
 :name "k8-deploy-promotion-policy"
 :displayName "k8 deploy promotion policy"
 :description "Transact against GitOps Repo when we detect that an Image is ready"
 :author "slimslenderslacks"
 :license "unknown"
 :iconUrl "https://raw.githubusercontent.com/cljs/logo/master/cljs.png"
 :parameters [{:multiChoice
               {:description "Checks which must have passed before attempting jar build and publish. Leave empty for none",
                :displayName "Checks",
                :name "check-names",
                :minRequired 1,
                :options
                [{:description "github-secret-scanner-skill"
                  :text "github-secret-scanner-skill"
                  :value "github-secret-scanner-skill"}
                 {:description "docker-vulnerability-policy"
                  :text "docker-vulnerability-policy"
                  :value "docker-vulnerability-policy"}
                 {:description "docker-base-image-policy/pinned"
                  :text "docker-base-image-policy/pinned"
                  :value "docker-base-image-policy/pinned"}
                 {:description "docker-build-skill"
                  :text "docker-build-skill"
                  :value "docker-build-skill"}]
                :required true}}
              {:string
               {:name "gitops-slug"
                :description "GitOps Repo"
                :displayName "GitOps Repo"
                :required true}}
              {:singleChoice
               {:description "Programming languages that must be present to tag a commit (default all)",
                :displayName "Repo Languages",
                :name "repo-languages",
                :options
                [{:description "Python"
                  :text "Python"
                  :value "Python"}
                 {:description "Clojure"
                  :text "Clojure"
                  :value "Clojure"}
                 {:description "TypeScript"
                  :text "TypeScript"
                  :value "TypeScript"}]
                :required true}}]
 :artifacts
 {:gcf
  [{:name "k8-deploy-promotion-policy",
    :runtime "nodejs10",
    :memory 512,
    :timeout 60,
    :entryPoint "eventhandler"}]}}
